.app {
  display: flex;
  background-color: #111;
}

* {
  margin: 0;
}

html {
  overflow: hidden;
  height: 100vh;
}

body {
  height: 100%;
  overflow: auto;
}

.column-fixed {
  background-color: #f0f0f0;
  height: 100vh;
  overflow: hidden;
}

.column-scrollable {
  flex: 1; /* Take remaining space */
  background-color: #e0e0e0;
  overflow-y: auto;
  height: 100vh;
}

.banner_width {
  width: auto;
  height: 48vh;
  background-color: #f0f0f0; /* Optional: for visibility */
}
