.row {
  overflow-y: scroll;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 50em;
  background-color: #2f3135;
}

.row::-webkit-scrollbar {
  display: none;
}

.row_title{
  color: white;
  padding: 2px;
  margin-top: 10px;
  margin-left: 10px;
}

.row_posters {
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.row_posters::-webkit-scrollbar {
  display: none;
}
.row_poster {
  object-fit: contain;
  max-height: 100px;
  width: 50%;
  margin-right: 10px;
  transition: transform 450ms;
}

.row_poster:hover {
  transform: scale(1.08);
}

.row_posterLarge {
  max-height: 250px;
}

.row_posterLarge:hover {
  transform: scale(1.09);
}
